controller: {{name}}<br />

<!-- Services -->
<div class="section section-white">
    <div class="container"  ng-controller ="SharedDataController">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <div class="center">
                        <img src="img/service-icon/man337.png" alt="Service 1" >
                        <h3 class="center">MMS</h3>
                    </div>
                    <p>
                        <strong>Supervision de terminaux</strong>
                    <ul>
                        <li> item 1 </li>
                        <li> item   </li>
                        <li> item   </li>
                        <li> item   </li>
                        <li> item   </li>
                    </ul>
                    </p>
                    <div class="center"><a href="page-MMS.html" class="btn">En savoir +</a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <div class="center">
                        <img src="img/service-icon/hand103.png" alt="Service 1" >
                        <h3 class="center"> MPOS </h3>
                    </div>
                    <p>
                        Solution de Point de Vente mobiles
                    </p>
                    <p>
                    <ul>
                        <li> TAPS /SASP </li>
                        <li> item</li>
                        <li> item</li>
                        <li> item</li>
                        <li> item </li>
                    </ul>
                    </p>
                    <div class="center"><a href="#" class="btn">En savoir +</a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <div class="center">
                        <img src="img/service-icon/terminal8.png" alt="Service 1" >
                        <h3 class="center"> Terminal </h3>
                    </div>
                    <p>
                        Les TPE du groupe

                    </p>
                    <p>
                    <ul>
                        <li> TAPS /SASP </li>
                        <li> item</li>
                        <li> item</li>
                        <li> item</li>
                        <li> item </li>
                    </ul>
                    </p>
                    <div class="center"><a href="#" class="btn">En savoir +</a></div>
                </div>  <!-- end of "service-wrapper" -->
            </div>  <!-- end of "col" -->
        </div>  <!-- end of "row" -->

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <div class="center">
                        <img src="img/service-icon/servers1.png" alt="Service 1" >
                        <h3 class="center">BO (BackOffice)</h3>
                    </div>
                    <p>
                        <strong>BackOffice</strong>
                    <ul>
                        <li> item 1 </li>
                        <li> item</li>
                        <li> item</li>
                        <li> item</li>
                        <li> item </li>
                    </ul>
                    </p>
                    <div class="center"><a href="page-MMS.html" class="btn">En savoir +</a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <div class="center">
                        <img src="img/service-icon/shopping159.png" alt="Service 1" >
                        <h3 class="center"> Retail </h3>
                    </div>
                    <p>
                        Pole Retail
                    </p>
                    <p>
                    <ul>
                        <li> item</li>
                        <li> item</li>
                        <li> item</li>
                        <li> item </li>
                    </ul>
                    </p>
                    <div class="center"><a href="#" class="btn">En savoir +</a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <div class="center">
                        <img src="img/service-icon/businessman120.png" alt="Service 1" >
                        <h3 class="center"> eCommmerce </h3>
                    </div>
                    <p>
                        Pole eCommmerce

                    </p>
                    <p>
                    <ul>
                        <li> item</li>
                        <li> item</li>
                        <li> item</li>
                        <li> item </li>
                    </ul>
                    </p>
                    <div class="center"><a href="#" class="btn">En savoir +</a></div>
                </div>  <!-- end of "service-wrapper" -->
            </div>  <!-- end of "col" -->

            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <div class="center">
                        <img src="img/service-icon/credit31.png" alt="Service 1" >
                        <h3 class="center"> CP </h3>
                    </div>
                    <p>
                        Card Present

                    </p>
                    <p>
                    <ul>
                        <li> item</li>
                        <li> item</li>
                        <li> item</li>
                        <li> item </li>
                    </ul>
                    </p>
                    <div class="center"><a href="#" class="btn">En savoir +</a></div>
                </div>  <!-- end of "service-wrapper" -->
            </div>  <!-- end of "col" -->
        </div>  <!-- end of "row" -->

    </div> <!-- end of "container" -->
</div>
<!-- End Services -->